<ul class="table-view" id="cartone">
	<li class="table-view-cell">1 Pizza 1
		<p>Ingrediente 1, ingrediente 2, ingrediente 3, ingrediente 4, </p>
		<button class="btn btn-negative">
			<span class="icon icon-close"></span>
		</button>
	</li>
	<li class="table-view-cell">1 Pizza 2
		<p>Ingrediente 1, ingrediente 2, ingrediente 3, ingrediente 4, </p>
		<button class="btn btn-negative">
			<span class="icon icon-close"></span>
		</button>
	</li>
	<li class="table-view-cell">1 Pizza 3
		<p>Ingrediente 1, ingrediente 2, ingrediente 3, ingrediente 4, </p>
		<button class="btn btn-negative">
			<span class="icon icon-close"></span>
		</button>
	</li>
	<li class="table-view-cell">1 Pizza 4
		<p>Ingrediente 1, ingrediente 2, ingrediente 3, ingrediente 4, </p>
		<button class="btn btn-negative">
			<span class="icon icon-close"></span>
		</button>
	</li>
	<li class="table-view-cell">1 Pizza 5
		<p>Ingrediente 1, ingrediente 2, ingrediente 3, ingrediente 4, </p>
		<button class="btn btn-negative">
			<span class="icon icon-close"></span>
		</button>
	</li>
	<li class="table-view-cell">1 Pizza 6
		<p>Ingrediente 1, ingrediente 2, ingrediente 3, ingrediente 4, </p>
		<button class="btn btn-negative">
			<span class="icon icon-close"></span>
		</button>
	</li>
	<li class="table-view-cell">1 Pizza 7
		<p>Ingrediente 1, ingrediente 2, ingrediente 3, ingrediente 4, </p>
		<button class="btn btn-negative">
			<span class="icon icon-close"></span>
		</button>
	</li>
	{{#each menu.models}}
	<li class="table-view-cell">1 {{this.nome}}
		<p>{{this.serializzaIngredienti()}}</p>
		<button class="btn btn-negative">
			<span class="icon icon-close"></span>
		</button>
	</li>
	{{/each}}
</ul>