<button id="consegna_a_casa" class="btn btn-negative btn-block home_button">
  <span class="icon icon-home"></span> Consegna a casa mia
</button>
<div id="spinner"></div>

<a href="#local">
  <button id="localizzazione" class="btn btn-negative btn-block home_button">
    <img src="img/location.png"/> Cercami
  </button>
</a>

<div id="local" class="modal">
  <header class="bar bar-nav popup">
    <a class="icon icon-close pull-right" href="#local"></a>
    <h1 class="title">Mi trovo qui</h1>
  </header>
  <div class="content">
    <div class="input-row">
      <label>Citt&agrave;</label>
      <input id="citta" type="text" >
    </div>
    <div class="input-row">
      <label>Via</label>
      <input id="via" type="text">
    </div>
    <div class="input-row">
      <label>N° Civico</label>
      <input type="number" id="civico" type="text">
    </div>
    <button id="relocal" class="btn btn-negative btn-block btn-outlined">
      <span class="icon icon-refresh"></span> Ricalcola
    </button>
    <button id="conferma_indirizzo" class="btn btn-negative btn-block btn-outlined">
      <span class="icon icon-check"></span> Conferma
    </button>
  </div>
</div>