<div class="content" id="pizzerie">
	<ul class="table-view control-content active" id="pizzerie">
		<li class="table-view-cell media">
			<a class="navigate-right">
				<img class="media-object pull-left" src="img/pizzeria.png">
				<div class="media-body">
					Pizzeria 1
					<p>Aperta dalle 8:00 alle 21:00</p>
				</div>
			</a>
		</li>
		<li class="table-view-cell media"><a class="navigate-right">
				<img class="media-object pull-left" src="img/pizzeria.png">
				<div class="media-body">
					Pizzeria 2
					<p>Aperta dalle 8:00 alle 21:00</p>
				</div>
		</a></li>
		<li class="table-view-cell media"><a class="navigate-right">
				<img class="media-object pull-left" src="img/pizzeria.png">
				<div class="media-body">
					Pizzeria 3
					<p>Aperta dalle 8:00 alle 21:00</p>
				</div>
		</a></li>
		<li class="table-view-cell media"><a class="navigate-right">
				<img class="media-object pull-left" src="img/pizzeria.png">
				<div class="media-body">
					Pizzeria 4
					<p>Aperta dalle 8:00 alle 21:00</p>
				</div>
		</a></li>
		<li class="table-view-cell media"><a class="navigate-right">
				<img class="media-object pull-left" src="img/pizzeria.png">
				<div class="media-body">
					Pizzeria 5
					<p>Aperta dalle 8:00 alle 21:00</p>
				</div>
		</a></li>
		<li class="table-view-cell media"><a class="navigate-right">
				<img class="media-object pull-left" src="img/pizzeria.png">
				<div class="media-body">
					Pizzeria 6
					<p>Aperta dalle 8:00 alle 21:00</p>
				</div>
		</a></li>
	</ul>
</div>