<div class="content popup" id="listaIngredienti">
	<button class="btn btn-negative">
		<span class="icon icon-close"></span>
	</button>
	<p>Ingredienti della Pizza 1:</p>
	<ul class="table-view">
		<li class="table-view-cell">
			<input type="checkbox" checked> Ingrediente 1
		</li>
		<li class="table-view-cell">
			<input type="checkbox" checked> Ingrediente 2
		</li>
		<li class="table-view-cell">
			<input type="checkbox" checked> Ingrediente 3
		</li>
		<li class="table-view-cell">
			<input type="checkbox" checked> Ingrediente 4
		</li>
		<li class="table-view-cell">
			<input type="checkbox" checked> Ingrediente 5
		</li>
		<li class="table-view-cell">
			<input type="checkbox" checked> Ingrediente 6
		</li>
	</ul>
	<button class="btn btn-block">
		<span class="icon icon-check"></span> Ok
	</button>
</div>