<ul class="table-view" id="menu"><br/>
<input type="search" placeholder="Filtra per ingrediente" focus="none">
  <li class="table-view-cell media" >
    <a id="mostra"><img class="media-object pull-left" src="http://placehold.it/42x42">
      <div class="media-body" >
        <h3>Pizza 1</h3> 
        <p id="anteprima">Ingrediente1,ingrediente2,..<br/>Ingrediente1,ingrediente2,..</p>
        <p id="dettaglio" class="displaynone"> Ingrediente1,ingrediente2,..<br/>Ingrediente1,ingrediente2,..
        <br/>Ingrediente1,ingrediente2,..
        <br/><br/>
        <button class="btn"><span class="icon icon-edit"></span> Personalizza</button></p>
      </div></a><button class="btn" id="pizz1">+5 &euro;</button>
    
  </li>
  <li class="table-view-cell media" >
    <a><img class="media-object pull-left" src="http://placehold.it/42x42">
      <div class="media-body" >
        <h3>Pizza 2</h3> 
        <p id="anteprima">Ingrediente1,ingrediente2,..<br/>Ingrediente1,ingrediente2,..</p>
        <p id="dettaglio" class="displaynone"> Ingrediente1,ingrediente2,..<br/>Ingrediente1,ingrediente2,..
        <br/>Ingrediente1,ingrediente2,..
        <br/><br/>
        <button class="btn"><span class="icon icon-edit"></span> Personalizza</button></p>
      </div></a><button class="btn" id="pizz1">+5 &euro;</button>
    
  </li>
  
</ul>
