<ul class="table-view">
	<li class="table-view-cell media" id="pizz1">
		<a class="navigate-right">
			<span class="media-object pull-left icon icon-pages"></span>
			<div class="media-body">
				Margherita <!--inserire valore parametrico-->
			</div>
		</a>
	</li>
	<li class="table-view-cell media" id="pizz2">
		<a class="navigate-right">
			<span class="media-object pull-left icon icon-pages"></span>
			<div class="media-body">
				Quattro formaggi <!--inserire valore parametrico-->
			</div>
		</a>
	</li>
</ul>
