
<div class="segmented-control">
<a class="control-item active" href="#rosse">
    Rosse
 </a>
 <a class="control-item" href="#bianche">
    Bianche
 </a>
 <a id="All" class="control-item" href="#tutte">
    Tutte
 </a>
  
</div>
<input type="search" placeholder="Filtra per ingrediente" focus="none">

<div class="card">
  <span id="tutte" class="control-content  table-view"><ul></ul></span>
  <span id="rosse" class="control-content active table-view"><ul></ul></span>
  <span id="bianche" class="control-content table-view"><ul></ul></span>
</div>
