
<div class="segmented-control">
  <a class="control-item active" href="#item1mobile">
   Tutte
  </a>
  <a class="control-item" href="#item2mobile">
   Rosse
  </a>
  <a class="control-item" href="#item3mobile">
   Bianche
  </a>
</div>
<ul class="table-view" id="menu"><br/>
<input type="search" placeholder="Filtra per ingrediente" focus="none">
<li class="table-view-cell media" >
   <img class="media-object pull-left" src="http://placehold.it/42x42">
      <div class="media-body" > <a id="mostra">
        <h3>Pizza 1</h3> 
        <p id="anteprima">Ingrediente1,ingrediente2,..<br/>Ingrediente1,ingrediente2,..</p>
        <p id="dettaglio" class="displaynone"> Ingrediente1,ingrediente2,..<br/>Ingrediente1,ingrediente2,..
        <br/>Ingrediente1,ingrediente2,..
        <br/><br/></a>
        <a href="#personalizza"><button class="btn"><span class="icon icon-edit"></span> Personalizza</button></a></p>
      </div><button class="btn" id="pizz1">+5 &euro;</button>
    
  </li>
  <li class="table-view-cell media" >
    <a><img class="media-object pull-left" src="http://placehold.it/42x42">
      <div class="media-body" >
        <h3>Pizza 2</h3> 
        <p id="anteprima">Ingrediente1,ingrediente2,..<br/>Ingrediente1,ingrediente2,..</p>
        <p id="dettaglio" class="displaynone"> Ingrediente1,ingrediente2,..<br/>Ingrediente1,ingrediente2,..
        <br/>Ingrediente1,ingrediente2,..
        <br/><br/>
        <button class="btn"><span class="icon icon-edit"></span> Personalizza</button></p>
      </div></a><button class="btn" id="pizz1">+5 &euro;</button>
    
  </li>
  
</ul>
<div id="personalizza" class="modal">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#personalizza"></a>
    <h1 class="title">Personalizza</h1>
  </header>

  <div class="content">
   <ul class="table-view">
    <li class="table-view-cell">
    <label>Ingrediente 1</label>
    <input class="pull-right" type="checkbox" checked="true" />
  
    
  </li>
  <li class="table-view-cell">
    <label>Ingrediente 2</label>
  <input class="pull-right" type="checkbox" checked="true" />
  </li>
  <li class="table-view-cell">
    <label>Ingrediente 3</label>
    <input class="pull-right" type="checkbox" checked="true" />
  </li>
  <li class="table-view-cell">
    {{ingrediente}}
    <div class="toggle active">
      <div class="toggle-handle"></div>
    </div>
  </li>
  
</ul>
 <button class="btn btn-block btn-outlined"><span class="icon icon-check"></span>OK</button>
  </div>


</div>
 
