<li class="table-view-cell media" >
   <img class="media-object pull-left" src="http://placehold.it/42x42">
      <div class="media-body" > <a id="mostra">
        <h3>{{nome}}</h3> 
        <p id="anteprima">{{ingredienti}}</p>
        <p id="dettaglio" class="displaynone">{{ingredienti}}
        <br/><br/></a>
        <a href="#personalizza"><button class="btn"><span class="icon icon-edit"></span> Personalizza</button></a></p>
      </div><button class="btn">{{prezzo}} &euro;</button>  
 </li>

 <div id="personalizza" class="modal">
  <header class="bar bar-nav popup">
    <a class="icon icon-close pull-right" href="#personalizza"></a>
    <h1 class="title">Personalizza</h1>
  </header>

  <div class="content">
   <ul class="table-view">
    Inserire lista ingredienti con checkbox!!!!!!
    </ul>
 <button class="btn btn-block btn-outlined"><span class="icon icon-check"></span>OK</button>
  </div>
  </div>

