<ul class="table-view">
  <!--<li class="table-view-cell media">
    <a class="navigate-right" id="pizz1">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <div class="media-body">
        Pizzeria 1
        <p>Info pizzeria</p>
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right" id="pizz2">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <div class="media-body">
        Pizzeria 2
        <p>Info pizzeria</p>
      </div>
    </a>
  </li>-->
  
</ul>
