<li class="table-view-cell media" >
  <img class="media-object pull-left" id="imgpizza" src="img/pizza.png">
    <div class="media-body" >
    	<a class="mostra">
	        <h4>{{nome}}</h4> 
	        <p class="anteprima">{{ingredienti}}</p>
	        <p class="displaynone">{{ingredienti}}<br/><br/>
        		<a href="#personalizza">
        			<button class="btn personalizza">
        				<span class="icon icon-edit"></span> Personalizza
        			</button>
        		</a>
        	</p>
        </a>
    </div>
  <button class="btn aggiungi">{{prezzo}} &euro;</button>  
</li>

