
<!--</header>-->
<form class="input-group">
<br/>
  <div class="input-row">
    <label>Nome</label>
    <input type="text" id="nome_profilo" placeholder="{{nome}}" autofocus>
  </div>
   <div class="input-row">
    <label>Cognome</label>
    <input type="text" id="cognome_profilo" placeholder="{{cognome}}">
  </div>
  <div class="input-row">
    <label>Telefono</label>
    <input type="text" id="telefono_profilo" placeholder="{{telefono}}">
  </div>
<br/>
<div id="spinner_profilo"></div>
  <div class="input-row">
    <label>Città</label>
    <input type="text" id="citta_profilo" placeholder="{{citta}}">
  </div>
  <div class="input-row">
    <label>Via</label>
    <input type="text" id="via_profilo" placeholder="{{via}}">
  </div>
  <div class="input-row">
    <label>N° civico</label>
    <input type="text" id="civico_profilo" placeholder="{{n_civico}}">
  </div>
<button id="localizza" class="btn btn-negative btn-block btn-outlined"><img src="img/location.png"/> Cercami</button>
<button id="salva" class="btn btn-negative btn-block btn-outlined"><span class="icon icon-check"></span> Salva</button>
</form>




