<ul class="table-view" id="riepilogo">
	<li class="table-view-divider">Totale</li>
	<li class="table-view-cell">4 Pizze: 25.00 &euro;</li>
	<li class="table-view-divider">Orario di Consegna</li>
	<li class="table-view-cell">
		<input class="delivery-time" type="number" name="quantity" min="00" max="23">
		<input class="delivery-time" type="number" name="quantity" min="00" max="59">
	</li>
	<li class="table-view-divider">Dettagli Cliente</li>
	<li class="table-view-cell">
		<p>Dettaglio 1, dettaglio 2, dettaglio 3, dettaglio 4</p>
	</li>
	<li class="table-view-divider">Dettagli Pizzeria</li>
	<li class="table-view-cell">
		<p>Dettaglio 1, dettaglio 2, dettaglio 3, dettaglio 4</p>
	</li>
	<li class="table-view-divider">Pagamento</li>
	<li class="table-view-cell">
		<form action="">
			<input type="radio" name="payment" value="cash">Alla Consegna
			<input type="radio" name="payment" value="online">Online
		</form>
	</li>
</ul>
<button class="btn btn-block" id="ordina">
	<span class="icon icon-check"></span> Ordina
</button>