<div class="spinner">
      <p><b>Stiamo inviando il tuo ordine...</b></p>
    <div id="spinner_riepilogo"></div>
    </div>
<ul class="table-view">
        <fieldset>
        <legend>Ordine</legend>
    <li class="table-view-cell">Numero pizze:<b> {{numeroPizze}} </b>
      <br /><br />Totale: &euro; <b> {{totale}} </b>
    </li>
    </fieldset>
    <br/>
     <fieldset>
        <legend>Luogo di consegna</legend>
        <li class="table-view-cell">{{indirizzoCliente}}</li>
    </fieldset>
    <br/>
    <fieldset>
        <legend>Pizzeria</legend>
      <li class="table-view-cell">  {{nomePizzeria}}</li>
    </fieldset>
    <br/>
    <fieldset>
        <legend>Orario di consegna</legend>
 	  <input type="time" id="orario" value="{{orarioConsegna}}"/>
 	</fieldset>
    <br/>
 	<fieldset>
       <legend>Pagamento</legend>
         <li class="table-view-cell"><br/>Alla consegna: 
        <input class="pull-right pagamento" type="radio" name="pagamento" value="contanti" checked/><br/>
        <br/> Carta di Credito: 
        <input class="pull-right pagamento" type="radio" name="pagamento" value="carta"/></li>
    </fieldset>
    <button class="btn btn-negative btn-block btn-outlined" id="invia_ordine">
        <span class="icon icon-share"></span> Invia Ordine
    </button>
</ul>