<ul class="table-view">
    <fieldset>
        <legend>Ordine</legend>
    <li class="table-view-cell">Q.t&agrave; 0 
        <div class="pull-right">&euro; 0</div>
    </li>
    </fieldset>
    <br/>
    <fieldset>
        <legend>Orario di consegna</legend>
 	  <input type="time"/>
 	</fieldset>
    <br/>
 	<fieldset>
        <legend>Pagamento</legend>
        <br/>Alla consegna: 
        <input class="pull-right" type="radio" name="pagamento" value="contanti" checked/><br/>
        <br/> Carta di Credito: 
        <input class="pull-right" type="radio" name="pagamento" value="carta"/>
    </fieldset>
    <button class="btn btn-negative btn-block">Invia Ordine</button>
</ul>