<header class="bar bar-nav">
	<a class="icon icon-left-nav pull-left" id="back"></a>
    <a href="#popover" class="icon icon-compose pull-right"></a>
      <h1 class="title"><p id="title"></p></h1>
</header>

<nav class="bar bar-tab">
  <a class="tab-item active" id="nav1">
     <span class="icon icon-compose"></span>
    <span class="tab-label">Ordine</span>
  </a>
  <a class="tab-item" id="nav2">
    <span class="icon icon-person"></span>
    <span class="tab-label">Profilo</span>
  </a>
  
</nav>


<div id="content" class="content">
</div>


<div id="popover" class="popover">
  <header class="bar bar-nav">
    <h1 class="title">Il mio cartone</h1>
  </header>
  <ul class="table-view">
    <li class="table-view-divider">Pizze</li>
      <li class="table-view-cell">Pizza 1 <div class="pull-right">&euro; 4</div> </li>
      <li class="table-view-cell">Pizza 2 <div class="pull-right">&euro; 4</div> </li>
      <li class="table-view-cell">Pizza 3 <div class="pull-right">&euro; 4</div> </li>
    <li class="table-view-divider">Consegna</li>
      <li class="table-view-cell"><input type="time" id="orario"> 
      <li class="table-view-cell">via dei matti, 12, L'Aquila
        <button class="btn icon icon-edit"></button></li></li>
    <li class="table-view-divider">Info Pizzeria</li>
      <li class="table-view-cell">Tel. 0862/033939</li>
    <li class="table-view-divider">Pagamento</li>
     <li class="table-view-cell"><input type="radio" checked="true" name="pagamento" value="contanti"> Alla consegna </li>
     <li class="table-view-cell"><input type="radio" name="pagamento" value="carta"> Carta di credito  </li>
     <br/>
       <button class="btn btn-negative btn-block btn-outlined">Conferma Ordine</button><br/>

  </ul>
</div>

